<form 
    action="<%= mode === 'create' ? '/books/new' : '/books/' + book.id_book + '/update' %>" 
    method="POST"
    class="m-4 w-9/10 lg:w-5/6 grid grid-cols-1 lg:grid-cols-3 p-4 border-2 border-borders-and-btn rounded-lg bg-gray-light gap-4"
    enctype="multipart/form-data">

    <h1 class="col-span-1 md:col-span-3 text-center text-lg font-semibold">
        <%if (mode == "create") {%>
            New Book
        <% } else if (mode == "update") {%>
            Update
        <% }%>
    </h1>

    <div class="flex flex-col gap-2">
        <label for="title">Title</label>
        <input 
        class="bg-gray-lighter rounded-md p-1"
        value="<%= book.title || '' %>"
        type="text" 
        id="title" 
        name="title">     

        <label for="author">Author</label>
        <input 
        class="bg-gray-lighter rounded-md p-1"
        value="<%= book.author || '' %>"
        type="text" 
        id="author" 
        name="author">

        <label for="year">Publishing year</label>
        <input 
        class="bg-gray-lighter rounded-md p-1"
        value="<%= book.year_book || '' %>"
        type="text" 
        id="year" 
        name="year_book">

        <label for="publisher">Publisher name</label>
        <input 
        class="bg-gray-lighter rounded-md p-1"
        value="<%= book.publisher || '' %>"
        type="text" 
        id="publisher" 
        name="publisher">

        <label for="genreSelect">
            Genres
        </label>

        <select
            id="genreSelect"
            class=" rounded-md bg-gray-dark p-2 cursor-pointer focus:ring-2 focus:ring-blue-400 focus:outline-none">
            <option value="">Select...</option>
            <% genres.forEach(g => {%>
                <option value="<%= g.name_genre %>"><%= g.name_genre %></option>
            <% }) %>
        </select>

        <div
            id="tagsContainer"
            class="flex flex-wrap gap-2 mt-2"
            value="<%= book.genres || '' %>"
        ></div>

        <script>
            // Send the book genres to the tag script
            window.initialGenres = <%- JSON.stringify( book.genres || []) %>;
        </script>

        <input type="hidden" name="categories" id="tagsInput">

        <div id="tagLive" aria-live="polite" class="sr-only"></div>
    </div>

    <div class="flex flex-col gap-2">
        <label for="description">Description</label>
        <textarea 
        class="bg-gray-lighter rounded-md p-2 md:h-full h-80" 
        name="description" 
        id="description"
        > <%= book.description || '' %>
        </textarea>
    </div>

    <div class="flex flex-col items-center mb-8 md:items-end md:mb-0">
        <label 
            for="cover"
            class="border-1 border-white bg-transparent rounded-md p-2 mb-4 cursor-pointer text-sm"
            >Choose bookcase</label>
        <input 
            id="cover"
            type="file"
            name="cover" 
            class="mt-2 block hidden">
        <img 
            class="bg-gray-lighter rounded-md w-46 h-70 shadow-xl/50" 
            id="img-file"
            src=<%= book.book_cover || "/uploads/bookcover-default.jpg" %>
            alt="bookcase chosen">
    </div>

    <% if (errors.length) { %>
        <ul class="mb-2 text-xs text-red-300 list-disc list-inside">
            <% errors.forEach(err => { %>
            <li><%= err.msg %></li>
            <% }) %>
        </ul>
    <% } %> 

    <div class="col-span-1 md:col-span-3 flex justify-end gap-4">
        <a href="/books">
            <button 
                type="button"
                class="border-2 border-borders-and-btn rounded-md bg-gray-light py-1 h-full px-4 cursor-pointer"
            >Voltar</button>
        </a>
        <button
            type="submit"
            class="bg-btn-attention rounded-md p-2 px-4 cursor-pointer hover:bg-gray-dark">
            <%if (mode == "create") {%>
                Create
            <% } else if (mode == "update") {%>
                Update
            <% }%>
        </button>
    </div>
</form>
