<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Books</title>
</head>
<body class="min-h-screen grid grid-cols-1 md:grid-cols-[180px_1fr] grid-rows-[auto_1fr_auto]">

    <%- include('components/navbar.ejs'); -%>
    <%- include('components/sidebar.ejs');-%>

    <main class="row-start-2 md:col-start-2 col-start-1 bg-gray-dark flex flex-col justify-center items-center text-white gap-4 px-4 ">
        <div class="w-full md:w-5/6 p-4 border-2 border-borders-and-btn rounded-lg bg-gray-light mx-4">
            <form action="/books" method="GET">
                <h3 class="text-borders-and-btn font-titles text-lg pb-1">Filter</h3>
                <span class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 text-sm">
                    <% genres.forEach( genre => {%>
                        <span class="items-center gap-2">
                            <input 
                                type="checkbox" 
                                name="genre" 
                                id="genre" 
                                class="bg-gray-lighter border-borders-and-btn border-1"
                                value="<%= genre.name_genre %>"
                                <%= (genresSelected && genresSelected.includes(genre.name_genre)) ? "checked" : "" %>
                            >
                            <label for="genre"><%= genre.name_genre %></label>
                        </span>
                    <% }) %>
                </span>

                <h3 class="text-borders-and-btn font-titles text-lg py-1 mt-4">Order By</h3>
                <span class="flex flex-wrap gap-4 text-sm mb-4">
                    <span class="flex items-center gap-2">
                        <input type="radio" name="sort" id="sort" value="asc"
                            <%= (sortSelected && sortSelected.includes('asc')) ? "checked" : "" %>
                        >
                        <label for="sort">Title A-Z</label>
                    </span>
                    <span class="flex items-center gap-2">
                        <input type="radio" name="sort" id="sort" value="desc"
                            <%= (sortSelected && sortSelected.includes('desc')) ? "checked" : "" %>
                        >
                        <label for="sort">Title Z-A</label>
                    </span>
                    <span class="flex items-center gap-2">
                        <input type="radio" name="sort" id="sort" value="old"
                            <%= (sortSelected && sortSelected.includes('old')) ? "checked" : "" %>
                        >
                        <label for="sort">Oldest</label>
                    </span>
                    <span class="flex items-center gap-2">
                        <input type="radio" name="sort" id="sort" value="new"
                            <%= (sortSelected && sortSelected.includes('new')) ? "checked" : "" %>
                        >
                        <label for="sort">Newest</label>
                    </span>
                </span>

                <span class="w-full flex justify-end ">
                    <button class="rounded-md bg-gray-lighter py-2 px-4 cursor-pointer hover:bg-gray-dark" type="submit">Filter</button>
                </span>
            </form>

        </div>
        <div class="w-full md:w-5/6 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:auto-cols-max gap-4 mb-6 mx-4">
            <% books.forEach((book) => {%>
            <%- include("components/cardsBooks.ejs", {book}); -%>
            <% })  %>
        </div>
    </main>

    <%- include('components/footer.ejs'); -%>
    <script src="/js/sidebar.js"></script>
</body>
</html>